<article class="flex border-b p-6" id="id_post_{{post.id}}">
    <div class="flex-shrink-0 rounded-full bg-indigo-300 h-16 w-16
        flex items-center justify-center">
        A
    </div>
    
    <div class="pl-5">
        <div class="flex items-center">
            <h2 class="font-bold text-xl" 
                style="font-family: 'Inconsolata', monospace">
                {{post.author.first_name}} {{post.author.last_name}} 
            </h2>
            <span class="text-gray-600 text-sm ml-3">@{{post.author.username}}</span>
            <span class="text-gray-600 text-sm ml-3 mr-3">. {{post.date_posted|date:'Y-m-d H:i'}}</span>
            <form method="POST" action="{% url 'post_delete' post.id %}">
                {% csrf_token %}
                <svg class="stroke-current cursor-pointer text-indigo-500 post-delete 
                    hover:text-indigo-700 inline-block h-5 w-5" viewBox="0 0 20 20">
                    <path d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,
                        0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,
                        0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,
                        0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,
                        4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,
                        17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,
                        0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,
                        7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,
                        0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,
                        7.051,8.394,7.306">
                    </path>
                </svg>
            </form>
        </div>
        <p class="text-gray-700 mb-4">
            {{post.content}}
        </p>

        <div class="flex flex-wrap -mx-2">
            {% for image in post.post_images.all %}
                <div class="px-2">
                    <img class="object-cover h-40 w-40 rounded shadow-md" 
                        src="{{image.thumbnail.url}}">
                </div>
            {% endfor %}
        </div>
    </div>
</article>
