<article class="post flex border-b p-6" id="id_post_{{post.id}}">
    <div class="flex-shrink-0 rounded-full bg-indigo-300 h-16 w-16
        flex items-center justify-center">
        {{post.author.username|capfirst|slice:1}}
    </div>
    
    <div class="flex-grow pl-5">
        <div class="flex items-center">
            <h2 class="font-bold text-xl" 
                style="font-family: 'Inconsolata', monospace">
                {{post.author.first_name}} {{post.author.last_name}} 
            </h2>
            <span class="text-gray-600 text-sm ml-3">@{{post.author.username}}</span>
            <span class="text-gray-600 text-sm ml-3 mr-auto">. {{post.date_posted|date:'Y-m-d H:i'}}</span>
            {% if post.author == user %}
                <form method="POST" action="{% url 'post_delete' post.id %}">
                    {% csrf_token %}
                    <span class="cursor-pointer" data-target="post_delete">
                        <svg class="stroke-current text-indigo-500 hover:text-indigo-700 h-5 w-5" 
                            style="pointer-events: none" viewBox="0 0 20 20">
                            <path d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,
                                0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,
                                0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,
                                0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,
                                4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,
                                17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,
                                0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,
                                7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,
                                0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,
                                7.051,8.394,7.306">
                            </path>
                        </svg>
                    </span>
                </form>
            {% endif %}
        </div>
        <p class="text-gray-700 mt-2 mb-4">
            {{post.content}}
        </p>
        {% if post.post_images.count > 0 %}
            <div class="flex flex-wrap -mx-2">
                {% for image in post.post_images.all %}
                    <div class="px-2">
                        <img class="object-cover h-40 w-40 rounded shadow-md" 
                            src="{{image.thumbnail.url}}">
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="mt-6">
            {% with users_like=post.users_like.all %}
                <span class="cursor-pointer" data-id="{{post.id}}" 
                    data-url="{% url 'post_like' %}" data-target="post_like"
                    data-action="{% if user in users_like %}un{% endif %}like">
                    {% if user not in users_like %}
                        <svg xmlns="http://www.w3.org/2000/svg" 
                            class="fill-current cursor-pointer text-indigo-500
                            hover:text-indigo-700 h-6 w-6"
                            style="pointer-events: none" viewBox="0 0 24 24">
                            <path d="M12 9.229c.234-1.12 1.547-6.229 5.382-6.229 2.22 0 4.618 1.551 4.618 5.003 0 3.907-3.627 8.47-10 12.629-6.373-4.159-10-8.722-10-12.629 0-3.484 2.369-5.005 4.577-5.005 3.923 0 5.145 5.126 5.423 6.231zm-12-1.226c0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-7.962-9.648-9.028-12-3.737-2.338-5.262-12-4.27-12 3.737z"/>
                        </svg>
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" 
                            class="fill-current cursor-pointer text-indigo-500
                            hover:text-indigo-700 h-6 w-6"
                            style="pointer-events: none" viewBox="0 0 24 24">
                            <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
                        </svg>
                    {% endif %}
                </span>
            {% endwith %}
        </div>
    </div>
</article>
