<div class="text-3xl font-bold leading-tight
    text-indigo-600 border-b p-4" 
    style="font-family: 'Inconsolata', monospace">
    Feed
</div>
<section class="p-6">
    <div class="bg-gray-100 rounded-lg border border-gray-400">
        {% for action in actions %}
            {% with user=action.user %}
                <div class="p-4">  
                    <span class="block text-sm text-gray-600">{{ action.created|timesince }} ago</span>
                    <a class="font-bold text-lg" 
                        style="font-family: 'Inconsolata', monospace" 
                        href="{{ user.get_absolute_url }}">
                        {{ user.first_name }} {{ user.last_name }}
                    </a>
                    <span class="text-sm text-indigo-500">{{ action.verb }}</span>
                    {% if action.target %}
                        {% with target=action.target %}
                            <a class="text-sm" href="{{ target.get_absolute_url }}">{{ target }}</a>
                        {% endwith %}
                    {% endif %}    
                </div>
            {% endwith %}
        {% endfor %}
    </div>
</section>

