{% extends "account/base.html" %}

{% block content %}
    <main class="container mx-auto px-6 pt-16">
        <h1 class="text-4xl text-center font-bold mb-8" 
            style="font-family: 'Inconsolata', monospace">
            Forgotten your password?
        </h1>
        <div class="mx-auto max-w-md">

            {% for error in form.non_field_errors %}
                <div class="w-full bg-red-500 text-white text-sm 
                    font-bold px-4 py-3 mb-6" role="alert">
                    <p>{{error}}</p>
                </div>
            {% endfor %}

            <form method="POST">
                {% csrf_token %}
                <div class="w-full mb-6">
                    {% include "shared/form_fields.html" with 
                        field=form.email 
                        type="input" 
                        label=form.email.label_tag
                    %}
                </div>
                <button type="submit" class="bg-transparent hover:bg-indigo-500 
                    text-indigo-700 hover:text-white py-2 px-4 border 
                    border-indigo-500 hover:border-transparent rounded">
                    Request password
                </button>
                <p class="text-indigo-700 mt-5">Not a member yet? 
                    <a class="text-gray-600" href="{% url 'signup' %}">
                        Register now
                    </a>
                </p>
            </form>
        </div>
    <main>
{% endblock content %}
